*{ margin: 0; padding: 0;}
p{
    text-align: justify;
    font-size: 12px;
    
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
.w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th{
    font-size: 12px;
    vertical-align: middle;
    padding: 4px;
}
.w3-table th:first-child, .w3-table td:first-child, .w3-table-all th:first-child, .w3-table-all td:first-child {
    padding-left: 4px;
}
form{
    font-size: 12px;
    
}